.container {
    max-width: 1170px;
    margin: 0 auto;
    @include _1250 {
        margin: 0 40px;
    }
}

.h2 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}