.header {
    padding: 38px 0;

    &__logo-text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: #000000;
    }
}