.second-screen {
    margin-bottom: 90px;
    &__h2 {
        margin-bottom: 50px;
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
        object-fit: cover;
        
    }
    &__text {
        @include basic-text;
        &:first-child {
            margin-bottom: 50px;
        }
    }
}