body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;

}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;


    text-align: center;
    letter-spacing: -0.1px;

    color: #007BFF;
}

h2 {
    position: absolute;
    height: 32px;
    left: 6.32%;
    right: 58.77%;
    top: calc(46% - 32px/2 - 244px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
}

input {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.form {
    position: relative;
    width: 1440px;
    height: 700px;
    background: #F7F7F7;
}

.accaunt {
    position: absolute;
    width: 570px;
    height: 590px;
    left: 135px;
    top: 55px;

}

.accaunt-content,
.profile-content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 6px;

}

.profile {
    position: absolute;
    width: 570px;
    height: 590px;
    left: 735px;
    top: 55px;
}

.accaunt-name {
    margin: 0 30px 0 30px;

}

.first-name {
    position: absolute;
    left: 5.96%;
    right: 51.05%;
    top: 14.75%;
    bottom: 73.9%;
}

.last-name {
    position: absolute;
    left: 51.05%;
    right: 5.96%;
    top: 14.75%;
    bottom: 73.9%;
}

.email-account {
    position: absolute;
    left: 6.32%;
    right: 5.96%;
    top: 29.49%;
    bottom: 54.92%;
}

.label-email-account {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;


}

.input-email-account {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 25px;

}

.label-first-name-account {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;

}

.input-first-name-account {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.label-last-name-account {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;

}

.input-last-name-account {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.email-bottom-text {
    position: absolute;
    height: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696
}

/*-----radio button------*/
.radio-male {
    position: absolute;
    left: 6.32%;
    right: 82.81%;
    top: 48.47%;
    bottom: 47.8%;

}

.label-radio-male {
    position: absolute;
    height: 22px;
    left: 45.16%;
    right: 1.61%;
    top: calc(50% - 22px/2);


}

.radio-female {
    position: absolute;
    left: 20.7%;
    right: 65.61%;
    top: 48.47%;
    bottom: 47.8%;
}

.label-radio-female {
    position: absolute;
    height: 22px;
    left: 35.9%;
    right: 2.56%;
    top: calc(50% - 22px/2);

}

/* ---------------country, city ------------------ */
.country-form {
    position: absolute;
    left: 6.32%;
    right: 50.7%;
    top: 55.59%;
    bottom: 33.05%;
}

.label-input-country {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.input-country {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
    background-position: 210px;
    background-size: 16px;
    outline: none;
    padding-left: 20px;
    font-size: 13px;
}

.city-form {
    position: absolute;
    left: 51.05%;
    right: 5.96%;
    top: 55.59%;
    bottom: 33.05%;
}

.label-input-city {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.input-city {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

/* --------button sign up---------- */
.sign-up {
    position: absolute;
    left: 6.32%;
    right: 5.96%;
    top: 70.34%;
    bottom: 23.22%;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    color: #FFFFFF;
}

/* ------Terms and Policy------ */
p.terms {
    position: absolute;
    left: 14.21%;
    right: 13.86%;
    top: 80.51%;
    bottom: 13.39%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;

}

/* ------------------block profile------------------- */

img.img-user {
    position: absolute;
    left: 6.14%;
    right: 79.82%;
    top: 14.75%;
    bottom: 71.69%;
}

.input-file {
    position: absolute;
    left: 23.68%;
    right: 52.11%;
    top: 16.61%;
    bottom: 78.31%;
}



.file-upload {
    position: absolute;
    left: 23.68%;
    right: 52.11%;
    top: 16.61%;
    bottom: 78.31%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-image: url(../images/сamera.svg);
    background-repeat: no-repeat;
    background-position: 110px;
    outline: none;
    font-size: 13px;

}

.file-upload input[type=file] {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: relative;
    z-index: 3;
    cursor: pointer;
    height: 34px;
    width: 130px;

}

.erase-button-field {
    position: absolute;
    left: 49.65%;
    right: 45.09%;
    top: 16.61%;
    bottom: 78.31%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-image: url(../images/trash.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    outline: none;
    font-size: 13px;
    /* cursor: pointer !important; */
}

.erase-button {
    opacity: 0;
    height: 30px;
    width: 30px;
    cursor: pointer !important;

}
.erase {
    opacity: 0;
}

.profile-name {
    position: absolute;
    left: 6.14%;
    right: 50.88%;
    top: 31.69%;
    bottom: 56.95%;
}

.label-name-profile {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.input-name-profile {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.profile-email {
    position: absolute;
    left: 50.88%;
    right: 6.14%;
    top: 31.69%;
    bottom: 56.95%;
}

.label-email-profile {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.input-email-profile {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;

}

.profile-country {
    position: absolute;
    left: 6.14%;
    right: 50.88%;
    top: 46.44%;
    bottom: 42.2%;
}

.label-input-profile-country {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.input-profile-country {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
    background-position: 210px;
    background-size: 16px;
    outline: none;
    padding-left: 20px;
    font-size: 13px;
}

.profile-city {
    position: absolute;
    left: 50.88%;
    right: 6.14%;
    top: 46.44%;
    bottom: 42.2%;
}

.profile-label-input-city {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.profile-input-city {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;

}

.zip-code-form {
    position: absolute;
    left: 6.14%;
    right: 50.88%;
    top: 61.19%;
    bottom: 27.46%;
}

.profile-label-zip-code {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.profile-zip-code {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.phone-form {
    position: absolute;
    left: 50.88%;
    right: 6.14%;
    top: 61.19%;
    bottom: 27.46%;
}

.profile-label-phone {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.profile-phone {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.update-button {
    position: absolute;
    left: 6.14%;
    right: 67.54%;
    top: 75.93%;
    bottom: 17.63%;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;

}