
.container {
    width: 1440px;
    height: 1030px;
    margin: 0 auto;
   display: flex;
    // display: flex;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}