.main-content {
    position: relative;
    width: 100%;
   padding-top: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $blueDarken;
  
}