.sidebar {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $blueDark;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

    &__wrapper {
        position: relative;
        margin-bottom: 17px;
    }

    &__heading {
        padding-top: 31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__small {
        display: none;
    }

    &__small .sidebar__menu-text {
        display: none;
    }

    &__small .sidebar__menu-item {
        width: 80px;
    }

    &__small .sidebar__badge {
        left: 50px;
        top: 15px;
    }

    &__small .sidebar__menu-svg-text {
        display: none;
    }

    &__switcher-input {
        position: absolute;
        left: -9999px;
    }

    &__switcher-input:checked~.sidebar__full {
        .sidebar__menu-svg-text {
            display: none;
        }
    }

    &__switcher-input:checked~.sidebar__full {
        .sidebar__menu-text {
            display: none;
        }
    }

    &__switcher-input:checked~.sidebar__full {
        .sidebar__menu-item {
            width: 80px;
        }
    }

    &__switcher-input:checked~.sidebar__full {
        .sidebar__badge {
            left: 49px;
            top: 10px;
        }
    }

    &__switcher-label {
        position: relative;
        width: 50px;
        height: 50px;
        z-index: 5;
        top: 36px;
        left: 100px;
    }

    &__switcher-label::after {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        background: url(../images/switcher.svg);
        background-repeat: no-repeat;
    }

    &__switcher-label::before {
        visibility: hidden;
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: -30px;
        width: 30px;
        height: 30px;
        background: url(../images/switcher-back.svg);
        background-repeat: no-repeat;
    }

    &__switcher-input:checked+.sidebar__switcher-label::before {
        visibility: visible;
    }

    &__switcher-input:checked+.sidebar__switcher-label::after {
        visibility: hidden;
    }

    &__logo {
        margin-bottom: 51px;
    }

    &__current-item {
        height: 59px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-svg {
            margin-bottom: 11px;
        }
    }

    &__divider {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        &-line {
            width: 13.33px;
            height: 4px;
            background-color: $purpleLight;
            border-radius: 20px;

            &_small {
                background-color: $purpleLight;
                width: 6.66px;
                height: 4px;
                border-radius: 20px;
            }
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__menu-item {
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__menu-link {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            background: #9E8CFC;
            box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
        }
    }

    &__menu-svg {
        margin-bottom: 13px;
    }

    &__menu-link:hover .sidebar__menu-svg-path {
        fill: #fff;
    }

    &__menu-link:hover .sidebar__menu-text {
        color: #fff;
    }

    &__menu-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #BDBDBD;
    }

    &__badge {
        position: absolute;
        left: 65px;
        top: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_green {
            background-color: $green;
        }

        &_red {
            background-color: $red;
        }

        &_yellow {
            background-color: $yellow;
        }

        &-number {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #4F4F4F;

            &_white {
                color: #fff;
            }
        }
    }
}