$purpleDark: #392C72;
$grayDark: #4F4F4F;
$grayMiddle: #828282;
$grayLight: #BDBDBD;
$purpleLight: #9E8CFC;
$red: #EA5455;
$yellow: #F2C94C;
$green: #6FCF97;
$blueDark: #283046; 
$blueDarken: #161D31;
