.testimonials {
    margin-bottom: 120px;

    &__wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 80px 70px;
        background-color: #CCDDFF;
        border-radius: 50px;

        &::after {
            content: '';
            position: absolute;
            width: 46.37%;
            height: 320px;
            top: 0;
            left: 0;
            z-index: 0;
            background-size: cover;
            background: url(../images/bg-testimonials-image-1.svg);
        }

        &::before {
            content: '';
            position: absolute;
            width: 49.58%;
            height: 580px;
            top: 0;
            right: 0;
            z-index: 0;
            background-size: cover;
            background: url(../images/bg-testimonials-image-2.svg);

            @include _768 {
                top: unset;
                bottom: 0;
            }
        }

        @include _979 {
            padding: 50px;
        }
        @include _480 {
            padding: 20px;
        }
    }

    &__title-block {
        margin-bottom: 70px;

        @include _768 {
            margin-bottom: 40px;
            
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        @include textWSans (700, 40px, 130%, $mainColor);
    }

    &__cards-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 100px;

        @include _979 {
            column-gap: 50px;
        }

        @include _768 {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        padding: 50px 30px;
        background-color: $white;
        border: 1px solid $mediumPurple;
        border-radius: 50px;
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        width: 50%;
        z-index: 2;

        @include _979 {
            flex-direction: column;
        }

        @include _768 {
            align-items: center;
            width: 100%;
        }
        @include _350 {
            padding: 30px;
        }
    }

    &__img-block {
        @include _768 {
            margin-bottom: 20px;
        }
    }

    &__name-title {
        @include textMont (500, 16px, 160%, $titleColor);
        margin-bottom: 2px;

        @include _768 {
            text-align: center;
        }
    }

    &__link-block {
        margin-bottom: 19px;

        @include _768 {
            text-align: center;
        }
    }

    &__link {
        text-decoration: none;
        margin-bottom: 19px;
        @include textMont (500, 14px, 160%, $mediumPurple);
        color: #9C69E2;
    }

    &__text {
        @include textMont (500, 16px, 160%, $titleColor);

        &:first-child {
            margin-bottom: 10px;
        }

        @include _350 {
            @include _350-generalText;
        }
    }
}