
$mainColor: #4B5D68;
$mediumPurple: #9C69E2;
$electricViolet: #8A40EE;
$brilliantRose: #F063B8;
$blackSqueeze: #F0FAF9;
$wispPink: #FDE8F5;
$rose: #EB4BAB;
$chambray: #3B5998;
$selago: #F6F0FD;
$portGore: #212353;
$cerulean: #00ACEE;
$mediumRedViolet: #C13584;
$white: #ffffff;
$titleColor: #212353;