* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.container {

    margin: 0px auto;
    max-width: 1200px;
    line-height: 0;
}

.header-content {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 24px auto 24px 0;
}

.logo img:last-child {
    margin-left: 12px;
}


.header-menu,
.header-menu ul,
.header-menu li {
    display: inline-block;
}

.header-menu {
    margin: 0 198px 0 198px;
    vertical-align: middle;
}


.header-content a {
    text-decoration: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}

.header-content a:hover {
    color: #FF9900;
}

.h-menu-item {
    margin-right: 20px;
}

.h-menu-item:last-child {
    margin: 0;
}

.header-buttons {
    vertical-align: middle;
    margin: 17px 0 17px 0;
    display: inline-block;
}

.header-buttons button {
    max-width: 110px;
    padding: 13px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #2F281E;
}

.header-buttons button:hover {
    padding: 14px 26px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #FF9900;
}

.header-buttons button:last-child {
    margin-left: 32px;
    max-width: 110px;
    padding: 14px 22.5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #FF9900;

}

.header-buttons button:last-child:hover {
    padding: 13px 21.5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #2F281E;
}

/* ----------first-screen------------- */
.fs-content {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    max-width: 1200px;
    text-align: center;
    font-size: 0;
}

.fs-left-side {
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    margin-right: 56px;
    text-align: left;
}

.fs-right-side {
    display: inline-block;
    vertical-align: middle;
}

.fs-left-side p {
    margin: 20px 0 30px;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.get-started {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 43.5px;
    text-align: center;
    background: #FF9900;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: #FFFFFF;
}

.get-started:hover {
    max-height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #2F281E;
}

/* --------------Features-------------------- */
.features {
    margin-top: 99px;
}

.features-bg {

    background-image: url(../images/features-bg.png);
    background-position: center;
    background-size: cover;
}

.features-content {
    display: inline-block;
    text-align: center;
}

.features-heading {
    display: inline-block;
    text-align: center;
    max-width: 539px;
    margin-bottom: 30.77px;
}

.features-heading h2 {
    font-weight: 700;
    margin-bottom: 30.77px;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2F281E;
}

.cards-conteiner {
    display: flex;
    justify-content: space-between;

}

.card {
    display: flex;
    max-width: 270px;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 70px;
    text-align: left;
}

.card:last-child {
    margin: 0;
}

.card img,
h3,
p {
    display: flex;
}

.card h3 {
    margin: 30px 0 16px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.sign-up-now {
    margin-bottom: 74px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 39.5px;
    text-align: center;
    color: #FFFFFF;
    background: #FF9900;
    border: none;
    border-radius: 4px;
}

.sign-up-now:hover {
    max-height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2F281E;
}

/* ----------Footer------------ */
footer {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px auto;
    line-height: normal;
}

.footer-content .logo {
    display: flex;
    margin: 0;
    justify-content: left;
    align-items: flex-start;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}



.footer-content h3 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
}

.footer-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;
    color: #544837;
}

.footer-menu a:hover {
    color: #FF9900;
}


.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 340px;
}

.footer-form h3 {
    margin-bottom: 25px;
}

.footer-form-heading {
    max-width: 280px;
}

.footer-form input {
    width: 340px;
    padding: 15px 118px 15px 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}

.footer-form button {
    margin-top: 25px;
    padding: 13px 39.5px;
    background: #FF9900;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.footer-form button:hover {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #2F281E;
}