html {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  color: #565656;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
  .container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin: 0 34px;
  }
}
.most-popular, .lates-posts__wrapper, .lates-posts, .blog, .first-screen__title-block, .header {
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .most-popular, .lates-posts__wrapper, .lates-posts, .blog, .first-screen__title-block, .header {
    margin: 0 34px;
  }
}
@media screen and (max-width: 900px) {
  .most-popular, .lates-posts__wrapper, .lates-posts, .blog, .first-screen__title-block, .header {
    max-width: 800px;
    margin: 0 34px;
  }
}
@media screen and (max-width: 350px) {
  .most-popular, .lates-posts__wrapper, .lates-posts, .blog, .first-screen__title-block, .header {
    max-width: 330px;
    margin: 0 10px;
  }
}

.most-popular__heading-title, .lates-posts__heading-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.most-popular__wrapper-posts-text-block-description-title, .lates-posts__wrapper-text-block-description-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

.header {
  padding: 42px 0 37px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
}
.header__right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right-side-menu {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.header__right-side-menu-item {
  display: flex;
  flex-direction: column;
}
.header__right-side-menu-item-link {
  position: relative;
  margin: 3px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 6px;
}
.header__right-side-menu-item-link:hover::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 6px;
  right: 10px;
  height: 1px;
  background-color: black;
  transition: 0.5s;
}
.header__right-side-menu-item + .header__right-side-menu-item {
  margin-left: 42px;
}
.header__right-side-search {
  margin-left: 84px;
}
.header__right-side-burger-menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__right-side-menu {
    display: none;
  }
  .header__right-side-burger-menu {
    display: block;
    margin-left: 40px;
  }
}
@media screen and (max-width: 400px) {
  .header__right-side-burger-menu {
    margin-left: 20px;
  }
}
.first-screen {
  margin: 0 auto 90px auto;
  width: 100%;
  height: 600px;
  padding-top: 100px;
  background-image: url(../images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-screen__title-block-wrapper {
  max-width: 770px;
}
@media screen and (max-width: 900px) {
  .first-screen__title-block-wrapper {
    max-width: 600px;
  }
}
.first-screen__title-block-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 900px) {
  .first-screen__title-block-title {
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 350px) {
  .first-screen__title-block-title {
    font-size: 30px;
    line-height: 50px;
  }
}

.blog {
  margin-bottom: 90px;
}
@media screen and (max-width: 600px) {
  .blog__title-wrapper {
    display: flex;
    justify-content: center;
  }
}
.blog__title-wrapper-title {
  margin-bottom: 50px;
  display: block;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
.blog__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 600px) {
  .blog__wrapper {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.blog__wrapper-img-block {
  display: flex;
}
@media screen and (max-width: 600px) {
  .blog__wrapper-img-block-first {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.blog__wrapper-img-block-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog__wrapper-text-block {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
@media screen and (max-width: 600px) {
  .blog__wrapper-text-block {
    justify-content: space-between;
  }
}
.blog__wrapper-text-block_reverse {
  justify-content: flex-end;
}
.blog__wrapper-text-block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog__wrapper-text-block-wrapper-chapter {
  margin-bottom: 15px;
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.blog__wrapper-text-block-wrapper-title {
  margin-bottom: 15px;
  max-width: 369px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (max-width: 600px) {
  .blog__wrapper-text-block-wrapper-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.blog__wrapper-text-block-wrapper-date {
  margin-bottom: 50px;
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.blog__wrapper-text-block-wrapper-text {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 600px) {
  .blog__wrapper-text-block-wrapper-text {
    max-width: 100%;
  }
}
.blog__wrapper-text-block-wrapper-text-link {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .blog__wrapper-text-block-wrapper-text-link {
    display: none;
  }
}
.blog__wrapper-text-block-wrapper-text-link-read-more {
  display: none;
  color: #565656;
  transition: 0.3s;
}
.blog__wrapper-text-block-wrapper-text-link-arrow-1 {
  margin-left: 10px;
  display: inline-block;
  transition: 0.3;
}
.blog__wrapper-text-block-wrapper-text-link-arrow-2 {
  margin-left: 10px;
  display: none;
  transition: 0.3;
}
.blog__wrapper-text-block:hover .blog__wrapper-text-block-wrapper-text-link-read-more {
  display: inline-block;
  color: #000000;
}
.blog__wrapper-text-block:hover .blog__wrapper-text-block-wrapper-text-link-read-more {
  display: inline-block;
  color: #000000;
}
.blog__wrapper-text-block:hover .blog__wrapper-text-block-wrapper-text-link-arrow-1 {
  display: none;
}
.blog__wrapper-text-block:hover .blog__wrapper-text-block-wrapper-text-link-arrow-2 {
  display: inline-block;
}

.lates-posts__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .lates-posts__heading {
    display: block;
  }
}
.lates-posts__heading-link-svg {
  fill: #7B7B7B;
}
.lates-posts__heading-link-svg:hover {
  fill: #000000;
}
.lates-posts__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media screen and (max-width: 900px) {
  .lates-posts__wrapper {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper {
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 25px;
  }
}
.lates-posts__wrapper-image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 900px) {
  .lates-posts__wrapper-image_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-image_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 900px) {
  .lates-posts__wrapper-image_2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-image_2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 900px) {
  .lates-posts__wrapper-image_3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-image_3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.lates-posts__wrapper-text-block {
  display: flex;
  flex-direction: column;
}
.lates-posts__wrapper-text-block-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}
.lates-posts__wrapper-text-block-heading-left {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-text-block-heading-left {
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.lates-posts__wrapper-text-block-heading-right {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-text-block-heading-right {
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.lates-posts__wrapper-text-block-description-title {
  margin-bottom: 20px;
}
.lates-posts__wrapper-text-block-description-text {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 600px) {
  .lates-posts__wrapper-text-block-description-text {
    margin-bottom: 25px;
  }
}

.most-popular {
  margin-bottom: 30px;
}
.most-popular__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .most-popular__heading {
    display: block;
  }
}
.most-popular__heading-link-svg {
  fill: #7B7B7B;
}
.most-popular__heading-link-svg:hover {
  fill: #000000;
}
.most-popular__wrapper-posts {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 54px;
}
@media screen and (max-width: 900px) {
  .most-popular__wrapper-posts {
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.most-popular__wrapper-posts-image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts-image_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts-image_2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.most-popular__wrapper-posts-text-block {
  display: flex;
  flex-direction: column;
}
.most-popular__wrapper-posts-text-block-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 26px;
}
.most-popular__wrapper-posts-text-block-heading-left {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts-text-block-heading-left {
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.most-popular__wrapper-posts-text-block-heading-right {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts-text-block-heading-right {
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.most-popular__wrapper-posts-text-block-description-title {
  margin-bottom: 20px;
}
.most-popular__wrapper-posts-text-block-description-text {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-posts-text-block-description-text {
    margin-bottom: 25px;
  }
}
.most-popular__wrapper-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}
.most-popular__wrapper-button-block-button {
  padding: 9.5px 45px;
  background-color: #565656;
}
.most-popular__wrapper-button-block-button-link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.most-popular__wrapper-button-block-button:hover {
  background-color: #323232;
}
.most-popular__wrapper-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .most-popular__wrapper-info {
    flex-direction: column;
  }
}
.most-popular__wrapper-info-title {
  max-width: 470px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-info-title {
    font-size: 24px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
.most-popular__wrapper-info-text {
  max-width: 470px;
  justify-self: end;
  font-family: "Lato";
  align-self: end;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .most-popular__wrapper-info-text {
    text-align: right;
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-info-text {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .most-popular__wrapper-info-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.most-popular__link {
  display: none;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  color: #000000;
}
.most-popular__link-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .most-popular__title-wrapper {
    margin-bottom: 40px;
  }
}
.most-popular__title-wrapper:hover .most-popular__link {
  display: inline-block;
}
.most-popular__svg {
  fill: #7B7B7B;
}
.most-popular__title-wrapper:hover .most-popular__svg {
  fill: #000000;
}
.most-popular__wrapper-info-title + .most-popular__wrapper-info-title {
  margin-bottom: 20px;
}
.most-popular__text-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .most-popular__text-wrapper {
    justify-content: flex-end;
  }
}/*# sourceMappingURL=style.css.map */